<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="curBookName" value="" />
    <add key="curBookPath" value="" />
    <add key="price" value="180" />
    <add key="bornYear" value="1900" />
    <add key="curYear" value="2021" />
  </appSettings>
</configuration>